  
.flex-container {
    display: flex;
    background-color: #bababa;
    border-radius: 3px;
    padding: 1.8em;
    flex-wrap: wrap ;
    justify-content: center;
  }
 
  .first-column {
    display: flex;
    flex-direction: column;
    order: 1;
    padding: 30px;
  }

  .second-column {
    display: flex;
    flex-direction: column;
    order: 2;
    padding: 30px;
  }

  h2 {
    text-align: center;
  }
  