body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


.message, .success, .error, .warning {
    border: 1px solid #cccccc;
    padding: 10px;
    color: #333;
  }
  
  .success {
    border-color: green;
  }
  
  .error {
    border-color: red;
  }
  
  .warning {
    border-color: yellow;
  }
