body {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-family: sans-serif;
  width: 80%;
}

.message, .success, .error, .warning {
    border: 1px solid #cccccc;
    padding: 10px;
    color: #333;
  }
  
  .success {
    border-color: green;
  }
  
  .error {
    border-color: red;
  }
  
  .warning {
    border-color: yellow;
  }
